### Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия, результат пишем в столбец класс:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг (***но ведь есть фильмы с рейтингом 4.1, 4.2, 4.3...***)

In [2]:
import pandas as pd

In [15]:
ratings = pd.read_csv('ml-latest-small_2/ratings.csv')
ratings_df = ratings[['movieId','rating']]
ratings_df.head(2)

   movieId  rating
0       31     2.5
1     1029     3.0

In [16]:
# средний рейтинг каждого movieId
average_rating = round(ratings_df[['movieId','rating']].groupby('movieId').mean(), 1)
average_rating.sample(5)

         rating
movieId
96281       3.0
135133      2.8
100326      2.5
55267       3.6
4844        3.0

In [17]:
# есть рейтинги между 4 и 4.5
average_rating['rating'].unique()

array([3.9, 3.4, 3.2, 2.4, 3.3, 3.8, 3.5, 3.7, 2.9, 2.3, 2.6, 2.5, 3.1,
       3. , 4.1, 4. , 3.6, 2. , 2.7, 4.4, 5. , 2.8, 4.6, 1.7, 2.2, 1. ,
       4.2, 4.8, 4.5, 4.3, 4.7, 1.8, 2.1, 1.5, 0.5, 0.8, 1.9, 1.4, 1.1,
       0.9, 1.6, 1.2, 1.3])

In [18]:
movies = pd.read_csv('ml-latest-small_2/movies.csv')
movies_df = movies[['movieId','title']]
movies_df.head(2)

   movieId             title
0        1  Toy Story (1995)
1        2    Jumanji (1995)

In [19]:
joined_df = average_rating.merge(movies_df, on = 'movieId', how = 'left')
joined_df.head()

   movieId  rating                               title
0        1     3.9                    Toy Story (1995)
1        2     3.4                      Jumanji (1995)
2        3     3.2             Grumpier Old Men (1995)
3        4     2.4            Waiting to Exhale (1995)
4        5     3.3  Father of the Bride Part II (1995)

In [20]:
def Classify_movie(row):
    '''Рейтинг фильма на основании оценок пользователей'''
    if row['rating'] <= 2:
        return 'Низкий рейтинг'
    elif (row['rating'] > 2) & (row['rating'] <= 4):
        return 'Средний рейтинг'
    else:
        return 'Высокий рейтинг'

In [21]:
joined_df['class'] = joined_df.apply(Classify_movie, axis = 1)
joined_df.head()

   movieId  rating                               title            class
0        1     3.9                    Toy Story (1995)  Средний рейтинг
1        2     3.4                      Jumanji (1995)  Средний рейтинг
2        3     3.2             Grumpier Old Men (1995)  Средний рейтинг
3        4     2.4            Waiting to Exhale (1995)  Средний рейтинг
4        5     3.3  Father of the Bride Part II (1995)  Средний рейтинг

In [22]:
class_movie = joined_df[['title', 'rating', 'class']]
class_movie.head()

                                title  rating            class
0                    Toy Story (1995)     3.9  Средний рейтинг
1                      Jumanji (1995)     3.4  Средний рейтинг
2             Grumpier Old Men (1995)     3.2  Средний рейтинг
3            Waiting to Exhale (1995)     2.4  Средний рейтинг
4  Father of the Bride Part II (1995)     3.3  Средний рейтинг

In [23]:
class_movie.loc[class_movie['class'] == 'Высокий рейтинг'].head()

                         title  rating            class
25              Othello (1995)     4.1  Высокий рейтинг
27           Persuasion (1995)     4.1  Высокий рейтинг
48  Usual Suspects, The (1995)     4.4  Высокий рейтинг
50             Lamerica (1994)     5.0  Высокий рейтинг
68      Misérables, Les (1995)     4.1  Высокий рейтинг

### Задание 2
(Используем файл keywords.csv.)

Гео-классификатор, который выставляет каждой строке
географическую принадлежность определенному региону.
- Если поисковый запрос содержит название города региона, 
то в столбце 'region' пишется название этого региона.

- Если поисковый запрос не содержит названия города, то ставим 'undefined'.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

   'Центр': ['москва', 'тула', 'ярославль'],

   'Северо-Запад': ['петербург', 'псков', 'мурманск'],

   'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region.

In [50]:
keywords = pd.read_csv('Pandas_3/keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [51]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [52]:
сity_list = []

for values in geo_data.values():
    for city in values:
        сity_list.append(city)
сity_list

['москва',
 'тула',
 'ярославль',
 'петербург',
 'псков',
 'мурманск',
 'владивосток',
 'сахалин',
 'хабаровск']

In [53]:
# def Classify_geo(keywords):
    
#     querie = 'сахалин'
#     for region, city_list in geo_data.items():
#         if querie in city_list:
#             return region
#     else:
#         return 'undefined'
        
# Classify_geo(keywords)

In [54]:
def Classify_geo(row):
    
    querie = row['keyword'].split(' ')
    
    for word in querie:
        if word in сity_list:
            for items in geo_data.items():
                if word in items[1]:
                    return items[0]
    else:
        return 'undefined'

In [55]:
keywords['region'] = keywords.apply(Classify_geo, axis=1)
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [56]:
keywords.loc[(keywords['region'] == 'Центр')|(keywords['region'] == 'Северо-Запад')].head(5)

                       keyword   shows        region
127               авито москва  979292         Центр
370   авито ру санкт петербург  425134  Северо-Запад
849            авито ярославль  209581         Центр
1236      банк санкт петербург  174375  Северо-Запад
1259                    москва  153050         Центр

In [57]:
keywords.loc[keywords['region'] == 'Дальний Восток'].head(3)

                  keyword   shows          region
1063  фарпост владивосток  176951  Дальний Восток
2175       дром хабаровск   98361  Дальний Восток
3206     дром владивосток   73084  Дальний Восток