In [1]:
import pandas as pd

### Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. 
Определите какому фильму было выставлено больше всего оценок 5.0

In [50]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings_df = ratings[['movieId', 'rating']]
ratings_df.head()

   movieId  rating
0        1     4.0
1        3     4.0
2        6     4.0
3       47     5.0
4       50     5.0

In [51]:
movies=pd.read_csv('ml-latest-small/movies.csv')
movies_df = movies[['movieId','title']]
movies_df.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [123]:
joined_df = ratings_df.merge(movies_df, on = 'movieId', how = 'left')
joined_df[['movieId','rating','title']].head()

   movieId  rating                        title
0        1     4.0             Toy Story (1995)
1        3     4.0      Grumpier Old Men (1995)
2        6     4.0                  Heat (1995)
3       47     5.0  Seven (a.k.a. Se7en) (1995)
4       50     5.0   Usual Suspects, The (1995)

In [124]:
max_rating = ratings_df['rating'].max()
filtered = joined_df[(joined_df['rating'] == max_rating)]
movie_rating = filtered.groupby(['movieId' , 'title'])['movieId'].count()
movie_rating.head()

movieId  title
1        Toy Story (1995)                      47
2        Jumanji (1995)                         7
3        Grumpier Old Men (1995)                6
5        Father of the Bride Part II (1995)     3
6        Heat (1995)                           24
Name: movieId, dtype: int64

In [54]:
best_movie = movie_rating.sort_values(ascending = False)
best_movie.head()

movieId  title
318      Shawshank Redemption, The (1994)             153
296      Pulp Fiction (1994)                          123
356      Forrest Gump (1994)                          116
2571     Matrix, The (1999)                           109
260      Star Wars: Episode IV - A New Hope (1977)    104
Name: movieId, dtype: int64

In [83]:
#или best_movie.iloc[0] или best_movie[0] или best_movie.value[0] 

print(f'Самое большое количество высших баллов в рейтинге', best_movie.head(1).item())

Самое большое количество высших баллов в рейтинге 153

In [116]:
# вот тут не разобралась, как вывести в принт просто название фильма

print(f'Людям нравится', best_movie[318].head(1))

Людям нравится title
Shawshank Redemption, The (1994)    153
Name: movieId, dtype: int64

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) 
категорий 4, 12 и 21 за период с 2005 по 2010 года. 
Не учитывайте в расчетах отрицательные значения quantity.

In [21]:
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [88]:
baltic_countries = data[(data['country'] == 'Latvia') | (data['country'] == 'Lithuania') | (data['country'] == 'Estonia') ]
baltic_countries.head()

       country  year  quantity  category
373  Lithuania  2014      39.0         1
374  Lithuania  2013     192.0         1
375  Lithuania  2012     196.0         1
376  Lithuania  2011     171.0         1
377  Lithuania  2010     158.0         1

In [121]:
edit_ = (baltic_countries[(baltic_countries['category'] == 4) 
                                  | (baltic_countries['category'] == 12) 
                                  | (baltic_countries['category'] == 21) 
                                  & (baltic_countries['quantity'] > 0) 
                                  & (baltic_countries['year'] < 2010) 
                                  & (baltic_countries['year'] > 2005)]
                )

In [122]:
print(f'Суммарное потребление стран Прибалтики:', edit_['quantity'].sum())

Суммарное потребление стран Прибалтики: 165867.0

### Задание 3 
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

In [42]:
pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding = 'utf-8') [0]

,0,1,2,3,4,5,6,7,8,9,10,11
0,ММВБ,2 952,"-0,7%",Nasdaq,10 793,"-1,1%",Биткойн,10 948,"0,1%",USD/RUB,755740,"0,1%"
1,РТС,1 229,"-1,2%",S&P500,3 319,"-1,1%",Нефть,431,"0,2%",EUR/RUB,896250,"0,0%"
2,Dow,27 657,"-0,9%",FTSE100,6 007,"-0,7%",Золото,1 953,"-0,5%",EUR/USD,11859,"0,1%"

In [47]:
vegetable_cpfc = pd.read_html('https://calorizator.ru/product/vegetable?order=title&sort=asc',encoding='utf-8') [0]
vegetable_cpfc = vegetable_cpfc.drop('Unnamed: 0',1)
vegetable_cpfc
#list(vegetable_cpfc[0])

,Продукт,"Бел, г","Жир, г","Угл, г","Кал, ккал"
0,Ангурия (Антильский огурец),1.8,1.3,7.6,44.0
1,Арракача,0.9,0.1,17.1,60.0
2,Артишок,1.2,0.1,6.0,28.0
3,Ассорти Бондюэль из сладкого перца,1.1,0.2,4.8,25.0
4,Ассорти Бондюэль из фасоли с ананасами в соусе...,3.8,1.1,9.3,62.0
...,...,...,...,...,...
75,Капуста кале,3.3,0.7,8.0,50.0
76,Капуста квашеная,1.8,0.1,4.4,19.0
77,Капуста кольраби,2.8,0.0,10.7,42.0
78,Капуста консервированная,1.3,0.1,3.6,23.0
79,Капуста краснокочанная,0.8,0.0,7.6,24.0